<div>
<h1>LISTA DE PUNTOS</h1>
<table *ngIf="hayRegistros(); else sin">
  <tr>
    <td>ID</td>
    <td>NOMBRE</td>
    <!-- <td>NIVEL</td> -->
    <td>FECHA</td>
    <td>COORDENADAS</td>
  </tr>
  <tr *ngFor="let punto of puntos">
    <td> {{punto.idPunto}} </td>
    <td> {{punto.nombre}} </td>
    <!-- <td> {{punto.nivel}} </td> -->
    <td> {{punto.fecha}} </td>
    <td> {{punto.coordenadas}} </td>
    <td> <button (click)="bajaPunto(punto.idPunto)"> Borrar </button></td>
    <td> <button (click)="seleccionarPunto(punto.idPunto)"> Seleccionar </button></td>
  </tr>
</table>

<ng-template #sin>
  <p>No hay puntos.</p>
</ng-template>

<div>
  <p>Nombre: <input type="text" [(ngModel)]="punto.nombre" /></p>
  <!-- <p>Nivel: <input type="text" [(ngModel)]="punto.nivel" /></p> -->
  <p>Fecha: <input type="date" [(ngModel)]="punto.fecha" /></p>
  <p>Coordenadas: <input type="text" [(ngModel)]="punto.coordenadas" /></p>
  <p> <button (click)="altaPunto()"> Agregar </button></p>
  <p> <button (click)="editarPunto()"> Modificar </button></p>
</div>
</div>